<%- include("includes/header.ejs") %>
    <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="header-box">
            <h1>To-Do List</h1>
        </div>


        <form class="formbox" action="/" method="POST">
            <input class="input-box" type="text" name="work" placeholder="Add your work" required>
            <button type="submit">+</button>
        </form>

        <div class="task-box">
            <% if(toDoList) {%>

                <% toDoList.forEach((to_do, index)=> { %>
                    <li>
                        <span class="task-text" id="task-<%= index %>">
                            <%= index + 1 %>. <%= to_do %>
                        </span>
                        <input type="checkbox" onchange="toggleTaskDone('<%= index %>')">
                        <button onclick="editTask('<%= index %>')">Edit</button>
                        <form action="/delete/<%= index %>" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </li>

                    <% }) %>

                        <% }else{ %>

                            <% } %>
        </div>
        
        <%- include("includes/footer.ejs") %>

        <script src="/js/script.js"></script>
    </body>
    </html>